In [2]:
import numpy as np
import pandas as pd

dataframe=pd.read_csv('MovieData.csv')
dataframe

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,rating,creative_type,source,production_method,genre,sequel,running_time
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,PG-13,Contemporary Fiction,Based on Play,Live Action,Comedy,1.0,NaN
1,Krrish,2006,58540100,10000000,1430721,31000000,Not Rated,Science Fiction,Original Screenplay,Live Action,Action,1.0,NaN
2,End of the Spear,2006,34620100,10000000,11748661,175380,PG-13,Historical Fiction,Original Screenplay,Live Action,Drama,0.0,NaN
3,A Prairie Home Companion,2006,24910100,10000000,20342852,6373339,PG-13,Contemporary Fiction,Original Screenplay,Live Action,Comedy,0.0,105.0
4,Saw III,2006,5840100,10000000,80238724,83638091,R,Contemporary Fiction,Original Screenplay,Live Action,Horror,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,The Nutcracker and the Four Realms,2018,298170100,132900000,54858851,115435048,PG,Fantasy,Based on Folk Tale/Legend/Fairytale,Live Action,Adventure,0.0,99.0
1932,Aquaman,2018,213100100,160000000,333804251,805605026,PG-13,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,0.0,143.0
1933,Ralph Breaks The Internet,2018,263730100,175000000,200236625,319167373,PG,Kids Fiction,Original Screenplay,Digital Animation,Adventure,1.0,112.0
1934,Mission: Impossible—Fallout,2018,248680100,178000000,220159104,567297448,PG-13,Contemporary Fiction,Based on TV,Live Action,Action,1.0,147.0
1935,Fantastic Beasts: The Crimes of Grindelwald,2018,222990100,200000000,159555901,492664185,PG-13,Fantasy,Spin-Off,Live Action,Adventure,1.0,134.0

In [3]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_name                1936 non-null   object
 1   production_year           1936 non-null   int64
 2   movie_odid                1936 non-null   int64
 3   production_budget         1936 non-null   int64
 4   domestic_box_office       1936 non-null   int64
 5   international_box_office  1936 non-null   int64
 6   rating                    1913 non-null   object
 7   creative_type             1923 non-null   object
 8   source                    1915 non-null   object
 9   production_method         1925 non-null   object
 10  genre                     1926 non-null   object
 11  sequel                    1934 non-null   float64
 12  running_time              1822 non-null   float64
dtypes: float64(2), int64(5), object(6)
memory usage: 196.8+ KB

In [4]:
#Drop rating, creative_type, source and production_method columns from database
newdataframe = dataframe.drop(columns=dataframe.columns[6:10])
newdataframe

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,genre,sequel,running_time
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,Comedy,1.0,NaN
1,Krrish,2006,58540100,10000000,1430721,31000000,Action,1.0,NaN
2,End of the Spear,2006,34620100,10000000,11748661,175380,Drama,0.0,NaN
3,A Prairie Home Companion,2006,24910100,10000000,20342852,6373339,Comedy,0.0,105.0
4,Saw III,2006,5840100,10000000,80238724,83638091,Horror,1.0,NaN
...,...,...,...,...,...,...,...,...,...
1931,The Nutcracker and the Four Realms,2018,298170100,132900000,54858851,115435048,Adventure,0.0,99.0
1932,Aquaman,2018,213100100,160000000,333804251,805605026,Action,0.0,143.0
1933,Ralph Breaks The Internet,2018,263730100,175000000,200236625,319167373,Adventure,1.0,112.0
1934,Mission: Impossible—Fallout,2018,248680100,178000000,220159104,567297448,Action,1.0,147.0
1935,Fantastic Beasts: The Crimes of Grindelwald,2018,222990100,200000000,159555901,492664185,Adventure,1.0,134.0

In [5]:
# check correct columns were dropped
newdataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_name                1936 non-null   object
 1   production_year           1936 non-null   int64
 2   movie_odid                1936 non-null   int64
 3   production_budget         1936 non-null   int64
 4   domestic_box_office       1936 non-null   int64
 5   international_box_office  1936 non-null   int64
 6   genre                     1926 non-null   object
 7   sequel                    1934 non-null   float64
 8   running_time              1822 non-null   float64
dtypes: float64(2), int64(5), object(2)
memory usage: 136.2+ KB

In [6]:
# drop running_time columns from newdataframe
newestdataframe = newdataframe.drop(columns=newdataframe.columns[8:])
newestdataframe

,movie_name,production_year,movie_odid,production_budget,domestic_box_office,international_box_office,genre,sequel
0,Madea's Family Reunion,2006,8220100,10000000,63257940,62581,Comedy,1.0
1,Krrish,2006,58540100,10000000,1430721,31000000,Action,1.0
2,End of the Spear,2006,34620100,10000000,11748661,175380,Drama,0.0
3,A Prairie Home Companion,2006,24910100,10000000,20342852,6373339,Comedy,0.0
4,Saw III,2006,5840100,10000000,80238724,83638091,Horror,1.0
...,...,...,...,...,...,...,...,...
1931,The Nutcracker and the Four Realms,2018,298170100,132900000,54858851,115435048,Adventure,0.0
1932,Aquaman,2018,213100100,160000000,333804251,805605026,Action,0.0
1933,Ralph Breaks The Internet,2018,263730100,175000000,200236625,319167373,Adventure,1.0
1934,Mission: Impossible—Fallout,2018,248680100,178000000,220159104,567297448,Action,1.0
1935,Fantastic Beasts: The Crimes of Grindelwald,2018,222990100,200000000,159555901,492664185,Adventure,1.0

In [7]:
#check that only the last column was dropped
newestdataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_name                1936 non-null   object
 1   production_year           1936 non-null   int64
 2   movie_odid                1936 non-null   int64
 3   production_budget         1936 non-null   int64
 4   domestic_box_office       1936 non-null   int64
 5   international_box_office  1936 non-null   int64
 6   genre                     1926 non-null   object
 7   sequel                    1934 non-null   float64
dtypes: float64(1), int64(5), object(2)
memory usage: 121.1+ KB

In [8]:
print(newestdataframe)

                                       movie_name  production_year  \
0                          Madea's Family Reunion             2006
1                                          Krrish             2006
2                                End of the Spear             2006
3                        A Prairie Home Companion             2006
4                                         Saw III             2006
...                                           ...              ...
1931           The Nutcracker and the Four Realms             2018
1932                                      Aquaman             2018
1933                    Ralph Breaks The Internet             2018
1934                  Mission: Impossible—Fallout             2018
1935  Fantastic Beasts: The Crimes of Grindelwald             2018

      movie_odid  production_budget  domestic_box_office  \
0        8220100           10000000             63257940
1       58540100           10000000              1430721
2       34620100           10000000             11748661
3       24910100           10000000             20342852
4        5840100           10000000             80238724
...          ...                ...                  ...
1931   298170100          132900000             54858851
1932   213100100          160000000            333804251
1933   263730100          175000000            200236625
1934   248680100          178000000            220159104
1935   222990100          200000000            159555901

      international_box_office      genre  sequel
0                        62581     Comedy     1.0
1                     31000000     Action     1.0
2                       175380      Drama     0.0
3                      6373339     Comedy     0.0
4                     83638091     Horror     1.0
...                        ...        ...     ...
1931                 115435048  Adventure     0.0
1932                 805605026     Action     0.0
1933                 319167373  Adventure     1.0
1934                 567297448     Action     1.0
1935                 492664185  Adventure     1.0

[1936 rows x 8 columns]

In [9]:
#Drop all columns after party affiliation
finaldataframe = newestdataframe.drop(columns=newestdataframe.columns[2])
finaldataframe

,movie_name,production_year,production_budget,domestic_box_office,international_box_office,genre,sequel
0,Madea's Family Reunion,2006,10000000,63257940,62581,Comedy,1.0
1,Krrish,2006,10000000,1430721,31000000,Action,1.0
2,End of the Spear,2006,10000000,11748661,175380,Drama,0.0
3,A Prairie Home Companion,2006,10000000,20342852,6373339,Comedy,0.0
4,Saw III,2006,10000000,80238724,83638091,Horror,1.0
...,...,...,...,...,...,...,...
1931,The Nutcracker and the Four Realms,2018,132900000,54858851,115435048,Adventure,0.0
1932,Aquaman,2018,160000000,333804251,805605026,Action,0.0
1933,Ralph Breaks The Internet,2018,175000000,200236625,319167373,Adventure,1.0
1934,Mission: Impossible—Fallout,2018,178000000,220159104,567297448,Action,1.0
1935,Fantastic Beasts: The Crimes of Grindelwald,2018,200000000,159555901,492664185,Adventure,1.0

In [10]:
#Find descriptive statistics for movie budget
finaldataframe['production_budget'].describe()

count    1.936000e+03
mean     5.342857e+07
std      5.368562e+07
min      1.000000e+07
25%      1.900000e+07
50%      3.275000e+07
75%      6.500000e+07
max      4.250000e+08
Name: production_budget, dtype: float64

In [12]:
#Find median for movie budget
finaldataframe['production_budget'].median()

32750000.0

In [13]:
#Find descriptive statistics from domestic box office
finaldataframe['domestic_box_office'].describe()

count    1.936000e+03
mean     6.432996e+07
std      8.772437e+07
min      0.000000e+00
25%      1.100305e+07
50%      3.632994e+07
75%      8.006978e+07
max      9.366622e+08
Name: domestic_box_office, dtype: float64

In [14]:
finaldataframe['international_box_office'].describe()

count    1.936000e+03
mean     9.535571e+07
std      1.596207e+08
min      0.000000e+00
25%      8.836641e+06
50%      3.519535e+07
75%      1.026431e+08
max      2.015838e+09
Name: international_box_office, dtype: float64

In [15]:
finaldataframe['genre'].mode()

0    Drama
dtype: object

In [17]:
finaldataframe.sort_values(["domestic_box_office"]).quantile(.95)

production_year                  2017.0
production_budget           175000000.0
domestic_box_office         228840069.5
international_box_office    429479434.5
sequel                              1.0
Name: 0.95, dtype: float64

In [19]:
finaldataframe.groupby(["genre"]).count()

,movie_name,production_year,production_budget,domestic_box_office,international_box_office,sequel
genre,,,,,,
Action,311,311,311,311,311,310
Adventure,334,334,334,334,334,333
Black Comedy,24,24,24,24,24,24
Comedy,318,318,318,318,318,318
Concert/Performance,6,6,6,6,6,6
Documentary,5,5,5,5,5,5
Drama,471,471,471,471,471,471
Horror,104,104,104,104,104,104
Musical,25,25,25,25,25,25
Romantic Comedy,82,82,82,82,82,82
Thriller/Suspense,231,231,231,231,231,231
Western,15,15,15,15,15,15

In [21]:
finaldataframe.to_csv(index=False)
compression_opts = dict(method='zip',
                        archive_name='thenumbers.csv')  
finaldataframe.to_csv('thenumbers.zip', index=False,
          compression=compression_opts)